*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:0;
  padding:0;
}
body{
  background-color: #F6F8F9;
}
header{
  padding:10px;
  background-color: #fff;
  height:80px;
  line-height: 80px;
  vertical-align: middle;
}
.titolo{
}
h1{
  display:inline-block;
  vertical-align: middle;
}
main{
  padding:15px;
}
.bottoni{
  margin:25px 25px 2px 25px;
  padding: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 20px;
  background-color: #fff;
}
#bottone1{
  background-color:#47ADF1;
  padding:5px;
  border-radius: 8px;
  border:none;
  color:#fff;
}

#bottone2{
  
  padding:5px 10px 5px 10px;
  border-radius: 8px;
  border:1px solid lightgray;
  color:lightgray;
  background-color:#fff;
}
.liste{
  margin:3px 25px 25px 25px;
  padding:35px 20px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #444851;
}
h3{
  padding: 20px 0 0 15px;
}
.check{
  font-size: 12px;
  margin:2px;
  color:green;
  border: solid green 1px;
  display: inline-block;
  border-radius:50%;
  height:15px;
  width:15px;
  text-align: center;
}
.x{
  font-size: 12px;
  margin:2px;
  color:red;
  border: solid red 1px;
  display: inline-block;
  border-radius:50%;
  height:15px;
  width:15px;
  text-align: center;
}
.editorial{
  display: inline-block;
  font-size: 12px;
  background-color: #45ABEA;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.q1{
  display: inline-block;
  font-size: 12px;
  background-color: #9C72E4;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.recruiting{
  display: inline-block;
  font-size: 12px;
  background-color: #64C0A9;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.mobile{
  display: inline-block;
  font-size: 12px;
  background-color: #F29E33;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.website{
  display: inline-block;
  font-size: 12px;
  background-color: #D863A1;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.sales{
  display: inline-block;
  font-size: 12px;
  background-color: #B0C926;
  border-radius: 15px;
  padding: 7px 11px;
  color: #fff;
}
.riga{
  padding: 0 0 15px 15px;
}